In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,634649,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,2021-12-15,7962.394,8.8,573
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,26.018,8.7,3276
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,66.144,8.7,20288
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,56.724,8.7,15178
4,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,23.954,8.7,1351

In [5]:
temp_df.tail()

,id,title,overview,release_date,popularity,vote_average,vote_count
15,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,26.252,8.5,6017
16,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,49.298,8.5,13169
17,644479,Dedicated to my ex,"The film tells the story of Ariel, a 21-year-o...",2019-11-01,15.178,8.5,440
18,441130,Wolfwalkers,"In a time of superstition and magic, when wolv...",2020-10-26,21.924,8.5,639
19,532067,KonoSuba: God's Blessing on this Wonderful Wor...,It is not strange that the Demon Lord's forces...,2019-08-30,229.290,8.5,323

In [6]:
df = pd.DataFrame()

In [11]:
for i in range(1,20):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [12]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,634649,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,2021-12-15,7962.394,8.8,573
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,26.018,8.7,3276
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,66.144,8.7,20288
3,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,56.724,8.7,15178
4,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,23.954,8.7,1351
...,...,...,...,...,...,...,...
675,3777,Throne of Blood,"Returning to their lord's castle, samurai warr...",1957-01-15,10.192,8.0,551
676,438631,Dune,"Paul Atreides, a brilliant and gifted young ma...",2021-09-15,909.524,8.0,4765
677,32085,Vincent,Young Vincent Malloy dreams of being just like...,1982-10-01,9.058,8.0,659
678,5925,The Great Escape,"The Nazis, exasperated at the number of escape...",1963-06-20,13.163,8.0,1889
679,152532,Dallas Buyers Club,Loosely based on the true-life tale of Ron Woo...,2013-11-17,14.198,7.9,7047

In [13]:
df.shape

(680, 7)

In [14]:
df.to_csv('movies.csv')